@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin full-border() {
  border: 1px solid #000000;
}

@mixin render-pixelated() {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@mixin absolute-top-left() {
  position: absolute;
  top: 0;
  left: 0;
}
